mixin input(isMap)
    if isMap
        img(src="./assets/images/common/map_pin.svg", alt="" class="header__dropdowns-map")
    else
        img(src="./assets/images/common/clock_.svg", alt="" class="header__dropdowns-map")
    img(src="./assets/images/common/stub.png", alt="" class="header__dropdowns-stub")
    img(src="./assets/images/common/arrow.png", alt="" class="header__dropdowns-arrow")
    img(src="./assets/images/common/arrow.png", class="header__dropdowns-arrow header__dropdowns-arrow--up")