html, body{
    height: 100%;
}

*{
    box-sizing: border-box;
}

.container{
    width: 940px;
    margin: auto;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    width: 940px;
    margin: auto;    
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

