.find{
    position: relative;
    margin-top: 25px;
}

.find__inputs{
    position: absolute;
    left:25%;
}

.find__inputs-input{
    padding-left: 20px;
}

.find__inputs-input{
    width: 300px;
    height: 46px;
}

.find__inputs-img{
    position: absolute;
}
