.links__list{
    display: flex;
    margin-left: 150px;
    
}

.links__item{
    color:#d5d5d5;
    margin-right: 25px;
    border-right:1px solid $borderColor;
    line-height: 25px;
    padding-right: 15px;
    &--white{
        color:#fff;
    }
}

.links__item-img{
    padding-left: 10px;
}

.links__item-nav{
    color:#fff;
    text-decoration: none;
}

.links__item-input{
    border:none;
    background: $navigationBackground;
    outline:none;
    color:#fff;
    &::placeholder{
        color:#fff;
    }
}