.navigation{
    background: $navigationBackground;
    min-width: 1246px;
    min-height: 69px;
    display: flex;
    align-items: center;
    grid-column: 2/4;
    grid-row:2/3;

    
}
.navigation__logo{    
     margin-left: 40px;
}

.navigation__container{
    padding-left: 7px;
}

.navigation__list{
    display: flex;
    & li:last-child{
        border:none;
    }
}

.navigation__item{
    color:#fff;
    padding: 0 20px;
    border-right:1px solid $borderColor;
    line-height: 11px;  
}

.navigation__item-link{
    text-decoration: none;
    color:#fff;
    &:hover{
        border-bottom: 4px solid orange;
        padding-bottom: 21px;        
    }
}